body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.M-title h4 {
    text-align: center;
    color: rgb(194, 216, 194);
    overflow: hidden;
}

.M-title h4::before, .M-title h4::after {
    background-color: grey;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.M-title h4::before {
    right: 0.5em;
    margin-left: -50%;
}

.M-title h4::after {
    left: 0.5em;
    margin-right: -50%;
}

#min_cnt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app1, #app2, #app3, #app4, #app5, #app6, #app7 {
    background-color: rgb(14, 13, 13);
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.my-info h3 {
    color: rgb(255, 145, 1);
}

.my-info {
    font-family: 'Courier New', Courier, monospace;
}

.my-info li {
    font-weight: bold;
    padding-bottom: 9px;
}

#Cont, #store {
    list-style-type:square;
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
}